* {
  margin: 0;
}

canvas {
  height: 100vh !important;

}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.label {
  display: flex;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 400;
  /* position: absolute; */
  width: 200px;
  background: #d6ceceb2;
  padding: 300px;
  /* padding-left: 100px;
  padding-right: 100px; */
  /* width: 00px; */
  /* transform: translate3d(40vw,40vh,0px)!important; */
  overflow: hidden;
  border-radius: 20px;
  user-select: none;
  color: black;
}
/* 
.label p {
  margin: 0;
} */
.logo
{
  /* display: block!important; */
  /* font-family: 'Montserrat';
  font-weight: 400; */
  top: 10px!important;
  left: 10px!important;
  /* position: fixed; */
  background: #d6ceceb2;
  height: 85px;
  padding-top: 0;
  /* padding: 50px; */
  /* padding-bottom: 40px;
  padding-top: 45px;
  padding-left: 70px;
  padding-right: 70px; */
  /* transform: translate3d(0px,0px,0px)!important; */
  /* overflow: hidden; */
  border-radius: 20px;
  /* user-select: none; */
  /* color: black; */
}

.hero-1 {
  font-family: 'Montserrat';
  display: flex;
  font-size: 70px;
  width: 100vw;
  right: 50px;
  font-weight: 400;
  /* position: absolute; */
  background: #d6ceceb2;
  /* padding: 80px; */
  /* padding-left: 100px;
  padding-right: 100px; */
  /* width: 00px; */
  /* transform: translate3d(40vw,40vh,0px)!important; */
  /* overflow: hidden; */
  /* border-radius: 20px; */
  user-select: none;
  color: black;
}


.hero-2 {
  font-family: 'Montserrat';
  display: block;
  
  font-weight: 400;
  /* position: absolute; */
  /* background: #d6ceceb2; */
  padding: 80px;
  /* padding-left: 100px;
  padding-right: 100px; */
  /* width: 00px; */
  /* transform: translate3d(40vw,40vh,0px)!important; */
  overflow: hidden;
  border-radius: 20px;
  user-select: none;
  color: black;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
